
		body{
			font-family: sans-serif;
			color: gray;
			background-repeat: no-repeat;
			background-size: cover;
			background-color: whitesmoke;
		}
		form{
			background-color: rgb(255, 255, 255, 0.9);
			margin: auto;
			max-width: 500px;
			border-radius: 6px;
			margin-top: 80px;
			box-shadow: 3px 4px 4px gray;
			
		}
		input[type=text],input[type=password],input[type=email]{
			padding: 8px;
			width: 400px;
			border-radius: 4px;
			margin-bottom: 12px;
			margin-left: 40px;
			border-width: 1px;
			outline: none;
		}
		label{
			margin-left: 40px;
			font-size: 18px;
/*			color: darkblue;*/
		}
		h2{
			margin-left: 50px;
			color: darkblue;
			text-shadow: 1px 1px 2px gray;
		}
		input[type=submit]{
			text-align: center;
			width: 200px;
			margin-left: 140px;
			margin-top: 6px;
			background-color: rgb(49, 123, 79, 1.0);
			padding: 8px;
			border-radius: 4px;
			border-style: none;
			margin-bottom: 8px;
			color: white;
			text-transform: uppercase;
		}
		input[type=submit]:hover{
			background-color:green ;
			transition: 2s;
			width: 205px;
		}
		a{
			text-decoration: none;
		}