.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.farm{
    margin: 1rem;
    min-width: 600px;
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    flex-basis: 400px;
}
.farm img{
    border-radius: 15px;
    max-width: 600px;
    min-width: 250px;
    transition: 0.5s ease-out;
}
.farm img:hover{
    max-width: 620px;
    min-width: 260px;
}
.option{
    top: 2rem;
    padding: 10px;
    display: flex;
    flex-direction: row;
    min-width: 30%;
    display: flex;
    justify-content: space-between;
}
a{
    text-decoration: none;
}

.img{
    margin: 5%;
    display: flex;
    justify-content: center;
}
body{
    background-color: #9fe098;
}
.bottom{
    bottom:0;
    padding: 5px;
}
.bottom button{
    background-color: #ffdbaa;
    margin-right: 1rem;
    height: 2.5rem;
    width: 8rem;
    border: none;
    border-radius: 30px;
}
.bottom button:hover{
    background-color:#75bb6d;
}
.option{
    background-color: #82c37b;
    color: white;
    display: flex;
}
.descript{
    flex-basis: 400px;
}
