/* CSS styles for the product div */
img {
	border-radius: 15px;
}

.image {
	width: 160%;
}

strong {
	font-weight: bolder;
}

.product {
    display: flex;
    border: 1px solid #ccc;
    margin: 10px 30px;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product-image {
    flex: 1;
    max-width: 200px;
}

.product-details {
    flex: 2;
    padding-left: 20px;
    margin-left: 75px;
}

.product-title {
    font-size: 1.2rem;
    margin: 0;
}

.product-price {
    font-size: 1rem;
    color: #007bff;
}

.product-description {
    font-size: 0.9rem;
    margin-top: 10px;
    margin-left: 70px;
}

.text-color {
	color: rebeccapurple;
	font-weight: 800;
}

.product-status {
    font-size: 0.9rem;
    font-weight: bold;
    color: #28a745; /* Green color for available status */
}

.sales-details-div {
	width: 70%;
	margin-left: 50px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
